version: "3.9"

services:
  backend:
    build:
      context: app/backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./videos:/assets
  frontend:
    build:
      context: app/frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: http://backend:8000
        VITE_USE_MOCKS: ${VITE_USE_MOCKS:-false}
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    env_file:
      - ./.env

networks:
  default:
    driver: bridge
